<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/btnlupa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/btnlupa"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaPet"
        tools:targetApi="31">
        <activity
            android:name=".BuscadorMascotas"
            android:exported="false" />
        <activity
            android:name=".BuscadorIntento2"
            android:exported="false" />
        <activity
            android:name=".BuscadorPrototipo"
            android:exported="false" />
        <activity
            android:name=".parte2j"
            android:exported="false" />
        <activity
            android:name=".avisosAdopcion"
            android:exported="false" />
        <activity
            android:name=".agregarAviso"
            android:exported="false" />
        <activity
            android:name=".R_MascotaGPS"
            android:exported="false" />
        <activity
            android:name=".Q_ChatDueno"
            android:exported="false" />
        <activity
            android:name=".N_InfoMascotaAdopcion"
            android:exported="false" />
        <activity
            android:name=".M_PerfilMascota"
            android:exported="false" />
        <activity
            android:name=".L_PerfilDueno"
            android:exported="false" />
        <activity
            android:name=".H_Seguidores"
            android:exported="false" />
        <activity
            android:name=".G_Seguidos"
            android:exported="false" />
        <activity
            android:name=".I_AgregarPublicacion"
            android:exported="false" />
        <activity
            android:name=".K_Ajustes"
            android:exported="false" />
        <activity
            android:name=".J_BuscarPerfil"
            android:exported="false" />
        <activity
            android:name=".Perfil_activity"
            android:exported="false" />
        <activity
            android:name=".nuevaMascotas"
            android:exported="false" />
        <activity
            android:name=".B_Register"
            android:exported="false" />
        <activity android:name=".editar_perfil_j"/>
        <activity
            android:name=".C_Home"
            android:exported="false" />
        <activity
            android:name=".A_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>